[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ll =  log --oneline
  la = log -1 HEAD --stat
  st = status
  cm = commit -m
  cf = config -l
  co = checkout
  br = branch
  df = diff
  dc = diff --cached
  dv = difftool -t vimdiff -y
  pr = pull --rebase
  pl = pull
  ps = push
  rb = rebase
  rv = remote -v
  gr = "!f() { git rev-list --all | xargs git grep $@ | fzf; }; f"
  ro = rev-parse --show-toplevel # print git root directory
  # echo the remote origin url(https)
  url = "!f() { git remote -v | head -1 | cut -d @ -f 2 | cut -d ' ' -f 1 | sed 's/:/\\//' | sed 's/.git$//' | sed s'/^/https:\\/\\//' | xargs echo; }; f"
  # open repo's remote url in $BROWSER
  # github-cli can do this too but just for github
  visit = "!f() { $BROWSER `git url`; }; f"

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[merge]
  conflictstyle = diff3

[includeIf "gitdir:~/companyA/"]
  path = .gitconfig-companyA
[includeIf "gitdir:~/personal/"]
  path = .gitconfig-personal
