# File bookmarks, `name path # note` per line; `name` becomes an $EDITOR alias.
# bmf <name> <file> appends.
cfz	$HOME/.zshrc						      # zsh (shell) config
cfv	$HOME/.config/nvim/init.vim		# vim/neovim config
cfa	$HOME/.config/shell/aliasrc		# aliases used by zsh (and potentially other shells)
cfp	$HOME/.config/shell/profile		# profile file for login settings for zsh
cfl	$HOME/.config/lf/lfrc		      # lf (file browser) config
cfx	$HOME/.config/x11/xprofile	  # sxiv (image viewer) key/script handler
zht $HOME/.cache/zshistory
